[alias]
  co  = checkout
  cleanup = remote update --prune
  ds  = diff --staged
[init]
	templateDir = /Users/alex/.git-templates
[user]
	email = alexraskin@fastmail.fm
	name = Alex Raskin
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFZ/ZjjWTINdBcOkNfdsnwMJxBsCpcgNvM4wxcBEXG/a
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
